@import "tailwindcss";

@theme {
  --color-obsidian: #0A0A0F;
  --color-obsidian-card: #111118;
  --color-eletric: #00E5FF;
  --color-purple: #A855F7;
  --color-emerald: #10B981;
  --color-ice: #E6EDF3;
  --color-ice-muted: #9CA3AF;
  --color-border: #2A2A35;
}

body {
  background-color: var(--color-obsidian);
  color: var(--color-ice);
  font-family: 'Inter', system-ui, sans-serif;
}
