@import "tailwindcss";

@theme {
  --color-obsidian: #0B0B0F;
  --color-eletric: #00E5FF;
  --color-ice: #F0F4F8;
  --color-emerald: #50C878;
}

body {
  background-color: var(--color-obsidian);
  color: var(--color-ice);
  font-family: 'Inter', system-ui, sans-serif;
}
